API_KEY_STRIPE = "Your key in strip"

SECRET_KEY = "Your key in django"

DEBUG = True or False

ALLOWED_HOSTS_1 = "*"

POSTGRES_ENGINE = "Your engine for db" (example: "django.db.backends.postgresql_psycopg2")
POSTGRES_HOST = "Your name of base" (example: "db")
POSTGRES_PORT = "Your port of base" (example: 5432)
POSTGRES_DB = "Name DB"
POSTGRES_USER = "User of base"
POSTGRES_PASSWORD = "Password of user"


CELERY_BROKER_URL = redis://redis:6379/0
CELERY_RESULT_BACKEND = redis://redis:6379/0
CELERY_TIMEZONE = "Europe/Moscow"
CELERY_TASK_TRACK_STARTED = True

EMAIL_HOST = "smtp.host"
EMAIL_PORT = port
EMAIL_HOST_USER = "Your email"
EMAIL_HOST_PASSWORD = "Your password"
EMAIL_USE_SSL = True
EMAIL_USE_TCL = False